<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="/lib/font-awesome/css/all.min.css" rel="stylesheet" /> 
</head>
<body>
    <header>
        <div class="bg-dark text-white p-2">
            <div class="container-fluid">
                <div class="row">
                    <div class="col navbar-brand">
                        <a asp-area="" asp-controller="Home" asp-action="Index">Mission 11</a>
                    </div>

                    <div class="col-6 text-right">
                        <vc:cart-summary />
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="row m-1 p-1">

        <div id="Categories" class="col-3">
            <vc:category>></vc:category>
        </div>




        <div class="col-9">
            <div>
                @RenderBody()
            </div>
        </div>

        <br />
        <br />
        <br />

        <br />
        <br />
        <br />

        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <br />
    <br />
    <br />

    <br />
    <br />
    <br />

    <footer class="border-top footer text-muted">
        <div class="container margin">
            <p>Test Bootstrap Elements</p>
            <div class="btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="checkbox" checked autocomplete="off"> Super Useful Button
                </label>
            </div>
            <audio controls src="~/audio/demo.mp3">
            </audio>
        </div>

        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>

        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox" aria-label="Bootstrap Checkbox Testing">
                </div>
            </div>
            <input type="text" class="form-control" aria-label="Bootstrap Checkbox Testing">
        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

